#app {
  font-family: 'Roboto', sans-serif;
  min-height: 85%;
  /* equal to footer height */
  margin-bottom: 25px;
}
html, body {
  height: calc(100% - 25px);
}
#app:after {
  content: "";
  display: block;
}
#footer {
  height: 25px;
  padding-bottom: 20px;
  margin-top: 56px;
  font-size: smaller;
  text-align: center;
}