body {
  height: 90vh;
}
#app {
  font-family: 'Roboto', sans-serif;
  min-height: calc(96vh - 56px);
  /* equal to footer height */
  margin-bottom: 7px;
}
#footer {
  height: 25px;
  font-size: smaller;
  text-align: center;
}